<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.loopeer.fastandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".FastAndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.WizardActivity"
            android:label="WizardActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
        </activity>
        <activity
            android:name=".ui.activity.PagerTestActivity"
            android:label="PagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.loopeer.andebug.API_URL"
            android:value=""/>
    </application>

</manifest>
